.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.home-card {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

button {
  padding: 12px 20px;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}